.upright {
    display: flex;
    justify-content: flex-end;

}

.google, .barre {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px

}

.boutons {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px

}

.left, .middle, .compte, .appli {
    padding: 8px;
}

.right {
    position: fixed;
    background-color: #f2f2f2;
    justify-content: right;
    flex-direction: row;
    padding: 8px;
    margin-right: 320px;
    margin-left: 5px;
}

.item {
    padding: 5px
}

 